name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Creer fichier .env
        run: |
          echo "${{ secrets.DB_HOST }}" >> .env
          echo "${{ secrets.DB_PORT }}" >> .env
          echo "${{ secrets.DB_NAME }}" >> .env
          echo "${{ secrets.DB_USER }}" >> .env
          echo "${{ secrets.DB_PASSWORD }}" >> .env
          echo "${{ secrets.REDIS_HOST }}" >> .env
          echo "${{ secrets.REDIS_PORT }}" >> .env
          echo "${{ secrets.REDIS_DB }}" >> .env

      - name: Run tests
        working-directory: src
        run: echo "Call pytest command here!"
